<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div class="container">
        <h1>Courses!</h1>

        <p class="lead">A simple GPA calculator<br/>
            <small>Designed by KK Lamberty</small>
        </p>
    </div>
</header>

<div class="container">
    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <h1 class="page-header">Courses:</h1>

            <form role="form" ng-submit="addCourse()">
                <table class="table table-striped">
                    <tr>
                        <th>Course</th>
                        <th>Credits</th>
                        <th>Grade</th>
                        <th>Actions</th>
                    </tr>
                    <tr ng-repeat="course in courseList">
                        <td>{{course.name}}</td>
                        <td>{{course.credits}}</td>
                        <td>{{course.grade}}</td>
                        <td>
                            <button class="btn btn-xs btn-danger" ng-click="deleteCourse(course)">Delete</button>
                        </td>
                    </tr>
                    <tr><td>&NonBreakingSpace;</td>
                        <td> </td>
                        <td> </td>
                        <td> </td></tr>
                    <tr>
                        <th>New Course</th>
                        <th>Credits</th>
                        <th>Grade</th>
                        <th> </th>
                    </tr>
                    <tr>
                        <td><input class="form-control" id="courseName" type="text" ng-model="newCourse" size="35"
                                   placeholder="Course Name"></td>
                        <td><input class="form-control" id="courseCredits" type="number" max="10" min="1"
                                   ng-model="newCourseCredits" size="8"
                                   placeholder="0"></td>
                        <td><input class="form-control" id="courseGrade" type="text" ng-model="newGrade" size="8"
                                   placeholder="Grade"></td>
                        <td><input class="btn btn-primary" type="submit" value="Add"></td>
                    </tr>
                </table>
            </form>

            <h3>Your GPA: {{gpa}}</h3>
        </div>

    </div>
</div>

<table>
    <tr ng-repeat="person in people" ng-class="rowClass(person)">
        <td>{{ person.name }}</td>
    </tr>
</table>